body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  color: white;
  background-color: black;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
}

.nav-items{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-items li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.logo h1 a{
  text-transform: uppercase;
}

.burger{
  display: none;
}

.burger div{
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

.burger:hover{
  cursor: pointer;
}

@media screen and (max-width: 1025px){
  .nav-items{
    width: 50%;
  }
}

@media screen and (max-width: 750px){
  body{
    overflow-x: hidden;
  }

  .nav-items{
    position: absolute;
    right: 0px;
    top: 8vh;
    background-color: black;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index:1;
  }

  .nav-items li{
    opacity: 0;
  }
  
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%)
}

.toggle-burger .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle-burger .line2{
  opacity: 0
}

.toggle-burger .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#home{
  height: 92vh;
  width: 100%;
  height: 92vh;
  position: relative;
  background-color: rgb(52, 222, 235);
}

.banner{
  width: 100%;
  position: absolute;
  top: 25%;
  height: 50%;
  text-align: center;
  overflow: hidden;
}

.banner h1{
  font-size: 5rem;
  text-transform: uppercase;
}

.banner span{
  display: inline-block;
  /* text-transform: uppercase; */
  position: absolute;
  right: 0%;
  transform: translateX(100%);
  opacity: 0;
}

.banner span.one{

  animation: slidein 5s ease 1s forwards;

}

.banner span.two{
  animation: slidein 5s ease 6s forwards;
}

 .banner span.three{
  animation: slidein 5s ease 11s forwards;
}

.banner span.four{
  opacity: 0;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,100%);
  animation: slideup 2s ease 16s forwards; 
}

/* ANIMATIONS */

@keyframes navItemFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slidein{
  0% {opacity: 0;
     transform: translateX(100%)
  }
  
  50% {opacity: 1;
       right: 50%;
       transform: translateX(50%);
  }
  
  60% {opacity: 1;
    right: 50%;
    transform: translateX(50%);
  }
  65% {opacity: 1;
  right: 50%;
  transform: translateX(50%);
  } 
  70% {opacity: 1;
  right: 50%;
  transform: translateX(50%);
  }  

  80% {
    opacity: 0.8;
  } 

  
  85% {
    opacity: 0;
  }

  100%{
    opacity: 0;
    right: 85%;
    transform: translateX(-100%);
  }
}

@keyframes slideup {
  0% {opacity: 0;
    left: 50%;
    transform: translate(-50%,100%);
 }  

  100%{
  opacity: 1;
  bottom: 50%;
  transform: translate(-50%,100%)
}
}

#skills{
  height: 80vh;
}

.heading{
  padding-top: 20px;
  margin-bottom: 20px;
}

.skills-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  justify-content: space-around;
}

.frameworks, .languages, .v-control{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 25%;
}

.v-control{
  justify-content: center;
}

.frameworks h1, .languages h1, .v-control h1{
  flex-basis: 100%;
  text-align: center;
}

.skill{
  width: 50%;
  text-align: center;
}

.skill div{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.skill div img{
  width: inherit;
  height: inherit;
}

.languages .skill{
  margin-top: 15px;
}

#works{
height: 100vh;
background-color: #042a2d;
}

#works h1{
  color: #eefcfd;
}

#about{
height: 50vh;
background-color: black;
color: white;
}

#contact{
height: 100vh;
background-color: #042a2d;
}

#contact h1{
  color: #eefcfd
}

.content{
  width: 50%;
  margin: 5% auto;
}

.rule{
  width: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(52, 222, 235);
  height: 3px;
}

.contact-container{
  display: flex;
  width: 75%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  justify-content: space-around;
}

.contact-details{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-detail{
  display: flex;
}

.contact-detail p{
  color: #eefcfd;
  align-self: center;
}

.contact-icon{
  background-color: rgb(52, 222, 235);
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.contact-icon img{
  height: inherit;
  width: inherit;
}

form{
  width: 30%;
  text-align: center;
}

.form-item{
  width: 100%;
  margin-bottom: 20px;
}

input{
  width: 100%;
  height: 30px;
  outline: none;
  background-color: rgb(63, 70, 82);
  border: none;
  color: white;
}

textarea{
  width: 100%;
  height: 100px;
  outline: none;
}

button{
  border: none;
  background-color: rgb(52, 222, 235);
  outline: none;
  cursor: pointer;
  width: 50%;
  height: 50px;
}

.form-item.button{
  text-align: left;
}

.form-item button{
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 2px;
}

input{
  font-family: inherit;
}

textarea{
  font-family: inherit;
}