html{
  min-height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  color: white;
  background-color: black;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
}

.nav-items{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-items li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-item a{
  text-transform: uppercase;
  font-weight: 400;
}

.nav-item a:hover{
  color: rgb(52, 222, 235);
}

.logo h1{
  font-family: 'Fredericka the Great', cursive;
}

.logo h1 a{
  letter-spacing: 2px;
}

.burger{
  display: none;
}

.burger div{
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

.burger:hover{
  cursor: pointer;
}

@media screen and (max-width: 1022px){
  .nav-items{
    width: 50%;
  }

  .portfolio-container{
    width: 500px !important;
    height: 45% !important;
  }

  .thumbnail{
    width: 50% !important;
  }
}

@media screen and (max-width: 810px){
  .content{
    flex-direction: column;
  }

  .about-me-container{
    width: 100% !important;
    margin-bottom: 25px;
  }

  .skills{
    width: 100% !important;
    margin: 20px 0px 0px 0px !important;
  }

  .service-container{
    flex-direction: column;
    align-items: center;
  }

  .service{
    height: 33% !important;
    width: 40% !important;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 750px){
  html, body{
    overflow-x: hidden;
  }

  .nav-items{
    position: absolute;
    right: 0px;
    top: 8vh;
    background-color: black;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index:1;
  }

  .nav-items li{
    opacity: 0;
  }
  
  .burger{
    display: block;
  }

}

.nav-active{
  transform: translateX(0%)
}

.toggle-burger .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle-burger .line2{
  opacity: 0
}

.toggle-burger .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (max-width: 600px){
   .portfolio-container{
    width: 75% !important;
  }

  .slogan h1{
    font-size: 3rem !important;
  }

  .thumbnail{
    height: 50% !important;
  }

  .percentage{
    display: none;
  }

  form{
    width: 100% !important;
  }

  .form-item{
    margin-bottom: 5px !important;
  }

  textarea{
    height: 75px !important;
  }

  .portfolio-content{
    width: 100% !important;
  }

  .portfolio-banner img{
    width: 75% !important;
  }

  button{
    width: 100% !important;
  }
}

@media screen and (max-width: 350px){
  .service{
    width: 100% !important;
  }

   .portfolio-container{
    width: 90% !important;
  } 

  .slogan h1{
    font-size: 2rem !important;
  }
}

.rule{
  height: 4px;
  width: 50px;
  margin: 3px auto 0px auto;
}

#home{
  height: 92vh;
  width: 100%;
  height: 92vh;
  background-image: url('./bg-image/particle.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

.banner{
  width: 100%;
  position: relative;
  top: 0px;
  height: 100%;
  background-color: rgba(52, 222, 235, 0.5);
  text-align: center;
  overflow: hidden;
}

.banner h1{
  font-size: 5rem;
  text-transform: uppercase;
}

.slogan{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* ANIMATIONS */

@keyframes navItemFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

#services{
  min-height: 80vh;
}

.heading{
  padding-top: 30px;
  font-weight: 300;
  font-size: 2rem;
}

.service-container{
  margin: 150px auto 40px auto;
  display: flex;
  justify-content: space-evenly;
}

.service{
  height: 400px;
  width: 15%;
}

.service *{
  margin-bottom: 10px;
}

.service p{
  text-align: center;
}

.service-image-container{
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.service-image-container img{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#portfolio{
min-height: 100vh;
background-color: #042a2d;
position: relative;
}

#portfolio h1{
  color: #eefcfd;
}

.portfolio-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 65%;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-link{
  display: inline-block;
  width: 100%;
  height: 100%
}

.portfolio-link img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-link img.mjlonir{
  object-fit: contain;
}

.thumbnail{
  height: 50%;
  width: 33.3%;
  background-color: white;
}

.thumbnail:nth-of-type(2){
  background-color: black;
}

#about{
min-height: 100vh;
background-color: white;
color: black;
}

.content{
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.about-me-container{
  width: 30%;
}

.about-me{
  width: 100%;
  height: 60%;
  position: relative;
  margin-bottom: 20px;
}

.about-me img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.skills{
  width: 70%;
  margin-left: 20px;
}

.skills article{
  background-color: #b0f2f7;
  position: relative;
  height: 50px;
  margin-bottom: 5px;
}

.skill .skill-name{
  height: 100%;
  width: 100px;
  background-color: #042a2d;;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
}

.skill-name{
  left: 10px;
}

.bar-fill{
  height: 100%;
  background-color: rgb(52, 222, 235);
}

.percentage{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: 100%;
  font-weight: 500;
}

.percentage span{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#contact{
  min-height: 100vh;
  background-color: white;
  position: relative;
  }

  #contact .rule {
    background-color: #38EFCF;
  }

.contact-container{
  display: flex;
  width: 75%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-details{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-detail{
  display: flex;
}

.contact-detail p{
  color: #eefcfd;
  align-self: center;
}

.contact-icon{
  background-color: rgb(52, 222, 235);
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.contact-icon img{
  height: inherit;
  width: inherit;
}

form{
  width: 55%;
  text-align: center;
}

form h1{
  margin-bottom: 20px;
  color: rgb(52, 222, 235);
}

.form-item{
  width: 100%;
  margin-bottom: 20px;
}

::placeholder{
  color: black;
}

input{
  width: 100%;
  height: 30px;
  padding-left: 5px;
  padding-bottom: 5px;
  outline: none;
  border: none;
  background-color: #E1F2FF;
  font-size: 1rem;
}

textarea{
  width: 100%;
  height: 150px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1rem;
  background-color: #E1F2FF;
  border: none;
  outline: none;
}

button{
  border: none;
  background-color: rgb(52, 222, 235);
  outline: none;
  cursor: pointer;
  width: 50%;
  height: 50px;
  width: 30%;
  border-radius: 30px;
  font-family: inherit;
}

.form-item.button{
  text-align: right;
}

.form-item button{
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 2px;
}

input{
  font-family: inherit;
}

textarea{
  font-family: inherit;
}

footer{
  position: absolute;
  bottom: 0px;
  background-color: #38EFCF;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div{
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
}

footer > div + div{
  margin-left: 20px; 
}

footer i{
  font-size: 30px;
  color: white;
}

.social-icon{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: rgb(52, 222, 235);
  padding: 5px;
}

.social-icon a{
  width: 100%;
  height: 100%;
}

.social-icon img{
  width: inherit;
  height: inherit;
}

.portfolio-logo{
  height: 150px;
  width: 100%;
  margin: 150px 0px 50px 0px;
  text-align: center;
}

.portfolio-logo img{
  width: 150px;
}

.portfolio-banner{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-banner img{
  width: 50%;
  object-fit: cover;
}

 .portfolio-content{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.description{
  margin-bottom: 40px;
}

.description a{
  color: blue;
  text-decoration: underline;
}

.description-image{
 width: 100%;
 margin-bottom: 25px;
}

.description-image img{
  width: 100%;
}